---
import { Image } from "astro:assets";
import Amazon from "/public/amazon.svg"
import Dribbble from "/public/dribbble.svg"
import Hubspot from "/public/hubspot.svg"
import Notion from "/public/notion.svg"
import Netflix from "/public/netflix.svg"
import Zoom from "/public/zoom.svg"

---
    <div class="overflow-hidden flex flex-col xl:flex-row xl:gap-[62.5%] py-12">
      <div class="flex gap-20  animate-scroll">
        <Image
          src={Amazon}
          alt="amazon"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Dribbble}
          alt="dribbble"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Hubspot}
          alt="hubspot"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Notion}
          alt="notion"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Netflix}
          alt="netflix"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Zoom}
          alt="zoom"
          class="grayscale hover:grayscale-0"
        />
      </div>
      <div class="flex flex-row-reverse xl:flex-row gap-20 animate-scroll ">
        <Image
          src={Amazon}
          alt="amazon"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Dribbble}
          alt="dribbble"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Hubspot}
          alt="hubspot"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Notion}
          alt="notion"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Netflix}
          alt="netflix"
          class="grayscale hover:grayscale-0"
        />

        <Image
          src={Zoom}
          alt="zoom"
          class="grayscale hover:grayscale-0"
        />
      </div
    </div>
 
